<a href="https://colab.research.google.com/github/shukanvinodthakkar/myfirst/blob/main/IPO_Web_Scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
from bs4 import  BeautifulSoup
import requests

In [11]:
r = requests.get('https://www.chittorgarh.com/ipo/ipo_list.asp?a=mainline')

In [13]:
soup = BeautifulSoup(r.text,'html.parser')

In [17]:
table = soup.find('table')

In [20]:
table_rows = table.find_all('tr')

In [32]:
company_links = []
company_names = []
for tr in table_rows[1:]:
  td = tr.find('td')
  company_links.append(td.find('a')['href'])
  company_names.append(td.find('a').contents[0])